## Asked by Google:

In [ ]:
"""Given an array a that contains only numbers in the range from 1 to a.length, 
find the first duplicate number for which the second occurrence has the minimal index. In other words, 
if there are more than 1 duplicated numbers, return the number for which the second occurrence has a 
smaller index than the second occurrence of the other number does. If there are no such elements, return -1."""
a = [2, 1, 3, 5, 3, 2]

In [ ]:
def firstDuplicate(a):
    dup={}
    count={a[x]:0 for x in range(len(a))}
    for i in range(len(a)):
        for j in range(i+1,len(a)):
            if a[i]==a[j]:
                count[a[i]]+=1
                if count[a[i]]<2:
                    dup[a[i]]=j
                
    dup=dict(sorted(dup.items(), key=lambda x:x[1],reverse=False))
    if len(dup)==0:
        return -1
    else:
        return(list(dup.keys())[0])

In [ ]:
#Better approach
mySet=set()
for el in a:
    if el in mySet:
        print(el)
        break
    mySet.add(el)

3

## Asked by Palantir:

In [ ]:
"""Given a string s consisting of small English letters, 
find and return the first instance of a non-repeating character in it. 
If there is no such character, return '_'.

Example

For s = "abacabad", the output should be
firstNotRepeatingCharacter(s) = 'c'.

There are 2 non-repeating characters in the string: 'c' and 'd'. 
Return c since it appears in the string first."""

def firstNotRepeatingCharacter(s):
    for i in range(len(s)):
        left=s[0:i]
        right=s[i+1:len(s)]
        
        if (s[i] not in left) and (s[i] not in right):
            return s[i]
            
    return "_"

In [ ]:
s = "abacabad"
print(firstNotRepeatingCharacter(s))

c

In [ ]:
#Alternative approach:
def firstNotRepeatingCharacter(s):
    for c in s:
        if s.index(c) == s.rindex(c):
            return c
    return '_'

In [ ]:
#Random notes
my_list = [1, 2, 3]
print("Given list: %s" %my_list)
qty = 10
item_name = "chocolate"
rs = 100
print("You can buy %d %s in %d rupees" % (qty, item_name, rs))
# prints "You can buy 10 chocolate in 100 rupees"

Given list: [1, 2, 3]
You can buy 10 chocolate in 100 rupees

In [ ]:
s="hello"
print(s[::-1])

olleh

## Asked by Optum UHG:

In [ ]:
"""Given an array A[] and a number x, check for pair in A[] with sum as x."""

x=int(input())
a=[1,2,3,4-1,-3,6,7]
l=0
r=len(a)-1
a.sort()

while(r>l):
  if a[r]+a[l]==x:
    pair=[a[r],a[l]]
    break
  elif a[r]+a[l]<x:
    l+=1
  else:
    r-=1
print(pair)

5
[3, 2]

In [ ]:
"""Count the length of bits in a integer."""

'Count the length of bits in a integer.'

In [ ]:
len(bin(50).replace('0b',''))#converting decimal into binary

6

In [ ]:
def countBits(n):
    return n.bit_length()
print(countBits(50))

6

In [ ]:
def simpleSort(arr):

    n = len(arr)

    for i in range(n):
        j = 0
        stop = n - i
        while j < stop - 1:
            if arr[j] > arr[j + 1]:
                arr[j],arr[j+1] = arr[j+1],arr[j] #in Python you can assign several elements at once
            j += 1
    return arr

In [ ]:
"""For n = "1302" and x = 5, the output should be
baseConversion(n, x) = "ca".

Here's why:
13025 = 20210 = ca16."""

def baseConversion(n, x):
    return "%x" % int(n, x)
y=baseConversion('z',36)
print(y)

23

## Asked by StateStreet:

In [ ]:
"""Count the number of elements in an array that has a power raised to 2 and find
their sum as well"""

a=[1,2,3,4,5,6,7,8]
import math
sum=0
count=0
for i in a:
  if math.log(i,2)-int(math.log(i,2))==0:
    sum+=i
    count+=1
    print(i)

print(f"Sum is:{sum} and count is:{count}")

1
2
4
8
Sum is:15 and count is:4

In [ ]:
"""Take the summations of the diagonal elements of two arrays and find their 
difference."""

arr1 = [
		    [11, 12, 5],
        [15, 6, 10],
        [10, 8, 12],
        ]

arr2=[
		    [64,2,33],
        [101, 98, 7],
        [45, 39, 76],
        ]

sum1=sum2=0
for i in range(len(arr1)):
  sum1+=arr1[i][i]
for i in range(len(arr2)):
  sum2+=arr2[i][i]
print(abs(sum1-sum2))

209